body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
  font-weight: normal;
}

a:hover {
  opacity: 0.6;
}

.percent-bar {
  color: #000 !important;
  background-color: #f1f1f1 !important;
}

.percent-value {
  margin-top:4px;
  margin-bottom:4px;
  color: #fff !important;
  background-color: #4CAF50 !important;
  text-align: center;
}

.question-text {
  color: #4CAF50;
  font-style: normal;
}

.semi-square {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.signin {
  border: 3px solid #f1f1f1;
  width: 60%;
  margin: 0 auto;
  padding: 8px;
}

.signin-header {
  padding: 6px;
  border: 3px solid #f1f1f1;
  background-color: #f1f1f1;
}

img.signin {
  width: 40%;
  border-radius: 50%;
}

button.signin:hover {
  opacity: 0.8;
}

select.signin {
  width: 100%;
  height: 41px;
  padding: 14px 20px;
  margin: 8px 0;
  font-size: 1em;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button.signin {
  background-color: #51cea6;
  color: white;
  font-size: 1em;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button.question {
  background-color: #4caf50;
  color: white;
  font-size: 0.8em;
  padding: 5px;
  margin: 16px auto;
  border: none;
  cursor: pointer;
  width: 60%;
}

.list-on {
  font-weight: bold;
  color: #4caf50;
}

.list-off {
  color: #dad7d7;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.option-header {
  font-weight: bold;
  margin: 0 auto;
}

.option-text {
  font-size: 0.8em;
  line-height: 1em;
}

.option-text-poll {
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  padding: 10px;
}

.question-container {
  display: flex;
  flex-flow: column;
}

.dashboard-button-active {
  width: 10%;
  background-color: #4caf50;
  font-weight: bold;
  max-width: 230px;
  padding: 4px;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  font-size: 0.75em;
}

.dashboard-button {
  width: 10%;
  color: silver;
  max-width: 230px;
  padding: 4px;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  font-size: 0.75em;
}

.question-header {
  width: 50%;
  max-width: 480px;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-bottom: 0px;
  border-radius: 3px 3px 0px 0px;
  cursor: pointer;
  font-weight: bold;
}

.question-body {
  display: flex;
  flex-flow: row;
  width: 50%;
  max-width: 480px;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 0px 0px 3px 3px;
  cursor: pointer;
}

.question-left {
  flex: 1;
}

.question-right {
  flex: 2;
}

.leaderboard-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  max-width: 480px;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 0px 0px 3px 3px;
  cursor: pointer;
  position: relative;
}

.v1 {
  flex: 1 1 1px;
  background-color: #dad7d7;
  height: 50px;
}

.leaderboard-left {
  flex: 0 1 20%;
  align-items: center;
  margin-right: 5px;
}

.leaderboard-middle {
  flex: 1 1 58%;
  margin: 0px 5px 0px 5px;
}
.leaderboard-right {
  flex: 1 1 20%;
  margin-right: -5px;
  margin-left: 5px;
  text-align: center;
}

.count-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8em;
}

.score-circle {
  background: #51cea6;
  color: #fff;
  padding: 5px 5px;
  border-radius: 50%;
  font-size: 1em;
  width: 30px;
  margin: auto;
}

.triangle-gold {
  width: 0;
  height: 0;
  border-top: 20px solid #cebe6bbb;
  border-right: 20px solid transparent;
  position: absolute;
  margin-left: -10px;
  margin-top: -10px;
  align-self: baseline;
}

.triangle-silver {
  width: 0;
  height: 0;
  border-top: 20px solid #c0c0c0bb;
  border-right: 20px solid transparent;
  position: absolute;
  margin-left: -10px;
  margin-top: -10px;
  align-self: baseline;
}

.triangle-bronze {
  width: 0;
  height: 0;
  border-top: 20px solid #91704fbb;
  border-right: 20px solid transparent;
  position: absolute;
  margin-left: -10px;
  margin-top: -10px;
  align-self: baseline;
}

.vertical-bar {
  margin: 0 20px 0 10px;
}

.vertical-bar-button {
  margin: 10px 10px 0px 10px;
  height: 20px;
  width: 1px;
  vertical-align: middle;
}

button.vertical-bar-button {
}

button.vertical-bar-button:hover {
  opacity: 0.8;
}

.btn:hover {
  border-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: left;
}

.active {
  font-weight: bold;
}

ul {
  padding-left: 20px;
  padding-right: 20px;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.nav ul {
  display: flex;
  flex-flow: row nowrap;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

.form-question {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textarea-question {
  border-radius: 3px;
  border: 1px solid #dad7d7;
  padding: 10px;
  margin-top: 20px;
  font-size: 15px;
  height: 40px;
  width: 50%;
  resize: none;
}

.btn-question {
  text-transform: uppercase;
  border-radius: 3px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: auto;
}

.tiny-avatar {
  height: 16px;
  border-radius: 8px;
  border: 1px solid #dad7d7;
  margin: 0;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  border: 1px solid #dad7d7;
  margin: auto;
}

.new-question {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
